* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.line {
    border-radius: 2px;
    width: 90px;
    height: 5px;
    background-color: #E74040;
}

.more {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2 5px 2 5px;
    gap: 5px;
    color: white;
    width: 60px;
    height: 26px;
    background: #2D4059;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 20px;
}

.des-sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.down-sale {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.atc {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFAB71;
}

.width {
    width: 260px;
}